/*-------------------------------------------*\
Alex Kovachev Portfolio Website 

Index
- Sitewide
  - Fonts
  - Headers
  - Buttons
  - Grid
- Logo
- 
\*-------------------------------------------*/
body {margin: 0; background-color: #082032; font-family: roboto, sans-serif}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2C394B;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;

}

ul.topnav li a:hover:not(.active) {background-color: #334756;}

ul.topnav li a.active {background-color: #FF4C29;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
h1{
    text-align:center;
    color:white;
}